:host {
  display: flex;
  width: 100%;
  height: calc(100vh - 85px); // this is ugly, but a quick fix 😄
  justify-content: center;
  align-items: center;
}

section {
  width: 800px;
  max-width: 80vw;

  img {
    width: 100%;
  }
}
