@use "@angular/material" as mat;
@use "mixins" as mixins;

header {
  background-color: red;
  color: blue;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mixins.container();
}

.actions {
  @include mat.icon-button-overrides(
    (
      icon-color: yellow,
      // icon-size: 30px, -> does not work
    )
  );
}
