<h1>Your wished bricks ❤️</h1>

<table>
  @for (set of sets(); track set.number) {
    <tr>
      <td>
        <span class="number">{{ set.number }}</span>
      </td>

      <td>
        <span class="name">{{ set.name }}</span>
      </td>

      <td>
        <span class="name">{{ set.wished }}</span>
      </td>

      <td>
        <span class="price">{{ set.wishPrice | currency: "EUR" }}</span>
      </td>
    </tr>
  } @empty {
    <tr>
      <td class="empty">
        You have no wishes. You are completely happy. Totally content and zen.

        <br />
        <br />

        I don't buy it. Just go! Go click some hearts!
      </td>
    </tr>
  }

  @if (sets().length) {
    <tr>
      <td colspan="3">
        <span class="label">Total:</span>
      </td>

      <td>
        <span class="total">{{ total() | currency: "EUR" }} </span>
      </td>
    </tr>
  }
</table>
