<tr>
  <td>
    <figure>
      <img
        src="images/{{ set().number }}.png"
        alt="Lego set {{ set().name }}"
      />
    </figure>
  </td>

  <td>
    <span class="number">{{ set().number }}</span>
  </td>

  <td>
    <span class="name">{{ set().name }}</span>
  </td>

  <td>
    <span class="price">{{ set().price | currency: "EUR" }}</span>
  </td>

  <td>
    <div class="actions">
      <div class="wish" [class.wished]="2 > 0">
        <button
          mat-icon-button
          (click)="addWish.emit()"
          aria-label="Add one wish button with heart icon"
        >
          <mat-icon> favorite </mat-icon>
        </button>
      </div>

      <footer>
        <button
          mat-icon-button
          class="remove"
          (click)="removeWish.emit()"
          aria-label="Remove one wish button with minus icon"
        >
          <mat-icon> remove </mat-icon>
        </button>

        <span class="count">{{ set().wished }}</span>

        <button
          mat-icon-button
          class="add"
          (click)="addWish.emit()"
          aria-label="Add one wish button with a plus icon"
        >
          <mat-icon> add </mat-icon>
        </button>
      </footer>
    </div>
  </td>
</tr>
